/* background color for now
I do plan on doing background IMG brewery related */

body {
    background-color: #5a5560;
}

.nav-wrapper {
    background-color: #46344E;
}

.card-title {
    background-color: #;
}